<!DOCTYPE html>
<html lang="pt-br" xmlns:th="https://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/Layout">

<head th:replace="~{fragmentos/head :: head}"></head>

<body>
	<div id="menuSuperior">		
		<nav th:replace="~{fragmentos/nav :: nav}"></nav>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="titulo">
				<h3>Lista de Produtos</h2>
			</div>
			<div th:replace="~{fragmentos/menuLateral :: menuLateral}"></div>
			<div id="menuCentral" class="col-md-10">
				<table class="table table-striped" id="tabelaProduto">
					<thead>
						<tr>
							<th scope="col">Id</th>
							<th scope="col">Produto</th>
							<th scope="col">Código de Barras</th>
							<th scope="col">Unid. Medídas</th>
							<th scope="col">Estoque</th>
							<th scope="col">Preço Custo</th>
							<th scope="col">Preço Venda</th>
							<th scope="col">Lucro</th>
							<th scope="col">Margem de Lucro</th>
							<th scope="col">Ação</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="produto : ${produtos}">
							<td th:text="${produto.id}"></td>
							<td th:text="${produto.nome}">Otto</td>
							<td th:text="${produto.codigoBarras}"></td>
							<td th:text="${produto.unidadeMedida}"></td>
							<td th:text="${produto.estoque}"></td>
							<td th:text="${produto.precoCusto}"></td>
							<td th:text="${produto.precoVenda}"></td>
							<td th:text="${produto.lucro}"></td>
							<td th:text="${produto.margemLucro}"></td>
							<td colspan="2">
								<a th:href="@{/editarProduto/{id}(id=${produto.id})}"><i
										id="editar" class="bi bi-pencil-square"></i></a>
								<a th:href="@{/excluirProduto/{id}(id=${produto.id})}"><i
										id="remover" class="bi bi-trash3-fill"></i></a>
							</td>
						</tr>
					</tbody>
				</table>
				<div>
					<a class="btn btn-primary" th:href="@{/cadastroProdutos}" role="button">Cadastrar</a>
				</div>
				<br>
			</div>
		</div>
	</div>
	</div>
	<br>
	<footer th:replace="~{fragmentos/footer :: footer}"></footer>
	<script>
		$(document).ready(function () {
			$('#tabelaProduto').DataTable();
		});

		var table = new DataTable('#tabelaProduto', {
			language: {
				url: '//cdn.datatables.net/plug-ins/2.0.3/i18n/pt-BR.json',
			},
		});
	</script>
</body>

</html>