<!DOCTYPE html>
<html lang="pt-br" xmlns:th="https://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/Layout">

<head th:replace="~{fragmentos/head :: head}"></head>

<body id="corpo">
	<div id="menuSuperior">
		<nav th:replace="~{fragmentos/nav :: nav}"></nav>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div th:replace="~{fragmentos/menuLateral :: menuLateral}"></div>
			<div id="menuCentral" class="col-md">Contéudo

				<p>
					JS components
					Curious which components explicitly require our JavaScript and Popper? If you’re at all unsure about
					the general page structure, keep reading for an example page template.

					Alerts for dismissing
					Buttons for toggling states and checkbox/radio functionality
					Carousel for all slide behaviors, controls, and indicators
					Collapse for toggling visibility of content
					Dropdowns for displaying and positioning (also requires Popper)
					Modals for displaying, positioning, and scroll behavior
					Navbar for extending our Collapse and Offcanvas plugins to implement responsive behaviors
					Navs with the Tab plugin for toggling content panes
					Offcanvases for displaying, positioning, and scroll behavior
					Scrollspy for scroll behavior and navigation updates
					Toasts for displaying and dismissing
					Tooltips and popovers for displaying and positioning (also requires Popper)
					JS components
					Curious which components explicitly require our JavaScript and Popper? If you’re at all unsure about
					the general page structure, keep reading for an example page template.

					Alerts for dismissing
					Buttons for toggling states and checkbox/radio functionality
					Carousel for all slide behaviors, controls, and indicators
					Collapse for toggling visibility of content
					Dropdowns for displaying and positioning (also requires Popper)
					Modals for displaying, positioning, and scroll behavior
					Navbar for extending our Collapse and Offcanvas plugins to implement responsive behaviors
					Navs with the Tab plugin for toggling content panes
					Offcanvases for displaying, positioning, and scroll behavior
					Scrollspy for scroll behavior and navigation updates
					Toasts for displaying and dismissing
					Tooltips and popovers for displaying and positioning (also requires Popper)
					JS components
					Curious which components explicitly require our JavaScript and Popper? If you’re at all unsure about
					the general page structure, keep reading for an example page template.

					Alerts for dismissing
					Buttons for toggling states and checkbox/radio functionality
					Carousel for all slide behaviors, controls, and indicators
					Collapse for toggling visibility of content
					Dropdowns for displaying and positioning (also requires Popper)
					Modals for displaying, positioning, and scroll behavior
					Navbar for extending our Collapse and Offcanvas plugins to implement responsive behaviors
					Navs with the Tab plugin for toggling content panes
					Offcanvases for displaying, positioning, and scroll behavior
					Scrollspy for scroll behavior and navigation updates
					Toasts for displaying and dismissing
					Tooltips and popovers for displaying and positioning (also requires Popper)
				</p>
			</div>
		</div>
	</div>
	<br>
	<footer th:replace="~{fragmentos/footer :: footer}"></footer>
</body>

</html>